body {
  background-image: url("palace.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* undgår gentagelser */
  font-family: "Nunito", sans-serif;
}

h2 {
  color: rgb(250, 244, 244);
  font-family: "Nunito", sans-serif;
}
p {
  color: rgb(250, 244, 244);
  font-family: "Nunito", sans-serif;
}

.lists-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center; /* centrerer dem på siden */
  margin-top: 10rem;
}

.todo-box,
.done-box {
  flex: 1;
  max-width: 400px; /* så de ikke bliver for brede */
  background: rgba(104, 132, 68, 1);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding-bottom: 10rem;
}

/* for at fjerne liste prikker */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* laver noget luft mellem taskene */
li {
  background: white;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between; /* ← DEN HER */
  gap: 10px;
  margin-bottom: 10px;
}

/* får teksten til at stå ude til venstre og kryds til højre */
li label {
  flex: 1;
}

.add_task {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.add_task input[type="text"] {
  background: white;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  flex: 1; /* ← gør at input fylder al pladsen */
  font-size: 16px;
  font-family: inherit;
  box-sizing: border-box;
}
.add_task input[type="submit"] {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #bd6725;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.done_tasks li label {
  text-decoration: line-through;
  opacity: 0.6;
}

button.delete {
  background: #bd6725;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button.delete:hover {
  background: #e38e4d;
  transform: scale(1.1);
}

.timestamp {
  font-size: 12px;
  color: #777;
  margin-left: 10px;
}

.todo-count,
.done-count {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}
